/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/* Variables */
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  color: #898989;
}
@media (max-width: 992px) {
  body {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  border-top: 1px solid #898989;
}
.btn {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  padding: 2px 25px 2px 18px;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-mask-image: url(../imgs/seta.svg);
  mask-image: url(../imgs/seta.svg);
  width: 13px;
  height: 15px;
  margin: auto 10px auto auto;
}
.wrapper {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.bg-white {
  background-color: #ffffff;
}
.text-white {
  color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.text-black {
  color: #000000;
}
.bg-gray {
  background-color: #c9c9c9;
}
.text-gray {
  color: #c9c9c9;
}
.bg-gray-darken {
  background-color: #898989;
}
.text-gray-darken {
  color: #898989;
}
.bg-gray-lighter {
  background-color: #eeeeee;
}
.text-gray-lighter {
  color: #eeeeee;
}
.bg-orange {
  background-color: #f7941e;
}
.text-orange {
  color: #f7941e;
}
.bg-blue {
  background-color: #20b7ce;
}
.text-blue {
  color: #20b7ce;
}
header {
  margin-bottom: 40px;
}
header .logo {
  background-color: #ffffff;
  position: absolute;
  width: 120px;
  height: 90px;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
header .logo a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
header .logo img {
  position: absolute;
  max-width: 80px;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
header .bg-gray-lighter {
  border-bottom: 1px solid #c9c9c9;
}
header nav {
  margin-left: 158px;
  padding: 16px 0;
  font-weight: 600;
  font-size: 16px;
}
header nav ul li {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
header nav ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #898989;
  width: 1px;
  height: 80%;
  margin: auto 0 auto -12px;
}
header nav ul li:first-child {
  margin: 0px;
}
header nav ul li:first-child:before {
  display: none;
}
header nav ul li:last-child {
  float: right;
  margin: 0px;
}
header nav ul li:last-child:before {
  display: none;
}
header .breadcrumb {
  margin: 10px 0 10px 138px;
  font-weight: 400;
  font-size: 12px;
}
header .breadcrumb ul li {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
header .breadcrumb ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #898989;
  -webkit-mask-image: url(../imgs/seta.svg);
  mask-image: url(../imgs/seta.svg);
  width: 13px;
  height: 17px;
  margin: auto 0 auto -19px;
}
header .breadcrumb ul li:first-child {
  margin: 0px;
}
header .breadcrumb ul li:first-child:before {
  display: none;
}
main {
  margin-bottom: 80px;
}
main nav {
  display: inline-block;
  width: 200px;
  margin-right: 15px;
  padding: 15px;
  vertical-align: top;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
}
main nav h3 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c9c9c9;
}
main nav ul {
  font-size: 14px;
  list-style: none;
}
main nav ul > li {
  position: relative;
  margin: 10px 0;
  font-weight: 700;
  text-indent: 10px;
  color: #20b7ce;
}
main nav ul > li:before {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #f7941e;
  top: 5px;
  left: 0;
}
main nav ul > li ul li {
  margin: 5px 0;
  font-weight: 400;
  color: #898989;
}
main nav ul > li ul li:before {
  display: none;
}
main .carrouselContent {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 0 40px;
}
main .carrouselContent .carrousel {
  display: inline-block;
  width: 684px;
  vertical-align: top;
  margin: 0 16px 0 0;
}
main .carrouselContent .carrousel img {
  width: 100%;
  max-width: 100%;
  border: 5px solid #c9c9c9;
}
main .carrouselContent .carrousel ul {
  margin: 0 auto;
  text-align: center;
}
main .carrouselContent .carrousel ul li {
  position: relative;
  display: inline-block;
  background-color: #c9c9c9;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  text-indent: -9999px;
  text-transform: capitalize;
  color: transparent;
  zoom: 1;
}
main .carrouselContent .carrousel ul li.active {
  background-color: #20b7ce;
}
main .carrouselContent .carrousel ul li a {
  position: absolute;
  width: 100%;
  height: 100%;
}
main .carrouselContent aside {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin: 0 0 0 10px;
}
main .carrouselContent aside figure img {
  max-width: 100%;
  width: 100%;
  border: 5px solid #ec007a;
  box-sizing: border-box;
}
main .content {
  display: inline-block;
  width: 710px;
  vertical-align: top;
}
main .content article {
  display: inline-block;
  width: 465px;
  margin: 0 10px 0 0;
  font-size: 16px;
  font-weight: 400;
  vertical-align: top;
}
main .content article h2 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c9c9c9;
}
main .content article p {
  margin-top: 25px;
}
main .content article p:first-child {
  margin-top: 0;
}
main .content article figure {
  max-width: 100%;
  width: 100%;
}
main .content article figure figcaption {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: center;
}
main .content aside {
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin: 0 0 0 11px;
}
main .content aside h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c9c9c9;
}
main .content aside figure img {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  background-clip: padding-box;
}
main .content .banner {
  display: inline-block;
  width: 100%;
  margin: 40px 0;
}
main .content .banner figure {
  position: relative;
}
main .content .banner figure img {
  width: 100%;
  max-width: 100%;
}
main .content .banner figure figcaption {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  color: #ffffff;
  text-align: center;
}
main .content .boxes {
  display: inline-block;
  width: 100%;
}
main .content .boxes div {
  display: inline-block;
  width: 222px;
  height: 155px;
  margin-left: 18px;
  padding: 0 10px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #c9c9c9;
  vertical-align: top;
  box-sizing: border-box;
}
main .content .boxes div:first-child {
  margin: 0;
}
main .content .boxes div:last-child .st0 {
  fill: #ec007a;
}
main .content .boxes div:last-child .st1 {
  fill: none;
  stroke: #ec007a;
  stroke-miterlimit: 10;
}
main .content .boxes div svg {
  margin: 16px auto;
  width: 50px;
  height: 50px;
  fill: #ec007a;
}
main .content .boxes div p {
  margin: 0 0 16px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
footer h5 {
  font-size: 20px;
  font-weight: 400;
}
footer h6 {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 700;
}
footer .footer-top {
  background: #eeeeee;
  padding: 40px 0;
}
footer .footer-top .wrapper .left-menu {
  display: inline-block;
  width: 68%;
  vertical-align: top;
}
footer .footer-top .wrapper .left-menu:first-child {
  margin-right: 15px;
}
footer .footer-top .wrapper .left-menu nav {
  font-size: 13px;
}
footer .footer-top .wrapper .left-menu nav > ul {
  display: inline-block;
  list-style: none;
}
footer .footer-top .wrapper .left-menu nav > ul li {
  display: inline-block;
  width: 49%;
}
footer .footer-top .wrapper .left-menu nav > ul li p {
  display: inline-block;
  width: 100%;
  margin: 40px 0 0;
  font-weight: bold;
}
footer .footer-top .wrapper .left-menu nav > ul li p a {
  position: relative;
}
footer .footer-top .wrapper .left-menu nav > ul li p a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-mask-image: url(../imgs/seta.svg);
  mask-image: url(../imgs/seta.svg);
  width: 13px;
  height: 15px;
  margin: auto -18px auto auto;
}
footer .footer-top .wrapper .left-menu nav > ul li ul {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
footer .footer-top .wrapper .left-menu nav > ul li ul li {
  width: 100%;
}
footer .footer-top .wrapper .right-menu {
  float: right;
  width: 30%;
}
footer .footer-top .wrapper .right-menu h5 {
  margin-bottom: 20px;
}
footer .footer-top .wrapper .right-menu nav {
  font-size: 13px;
}
footer .footer-top .wrapper .right-menu nav > ul {
  list-style: none;
}
footer .footer-top .wrapper .right-menu nav > ul li {
  display: inline-block;
  width: 49%;
}
footer .footer-top .wrapper .right-menu img {
  margin-bottom: 10px;
}
footer .footer-top .wrapper .bottom-menu {
  display: inline-block;
  width: 100%;
}
footer .footer-top .wrapper .bottom-menu nav {
  display: inline-block;
  padding: 16px 0;
  font-weight: 600;
  font-size: 16px;
}
footer .footer-top .wrapper .bottom-menu nav ul li {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
footer .footer-top .wrapper .bottom-menu nav ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #898989;
  width: 1px;
  height: 80%;
  margin: auto 0 auto -12px;
}
footer .footer-top .wrapper .bottom-menu nav ul li:first-child {
  margin: 0px;
}
footer .footer-top .wrapper .bottom-menu nav ul li:first-child:before {
  display: none;
}
footer .footer-bottom {
  background: #c9c9c9;
  padding: 30px 0 80px;
}
footer .footer-bottom .copyright {
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
